# ===== Qt / C++ =====
*.o
*.obj
*.so
*.a
*.dll
*.exe

# ===== Qt generated =====
moc_*.cpp
ui_*.h
qrc_*.cpp
.qmake.stash
*.pro.user*
*.autosave

# ===== Build dirs =====
build-*/
build/
*/build/
*/build-*/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Runtime output (if any) =====
AppExe/
bin/

