############################
# Qt Creator
############################
build-*/
*.pro.user
*.pro.user.*
*.qmlc
*.jsc

############################
# C / C++
############################
*.o
*.obj
*.a
*.so
*.so.*
*.elf
*.map

############################
# Make / CMake
############################
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

############################
# Runtime / logs
############################
*.log
*.tmp
*.cache
*.swp
*.bak

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Keep source
############################
!*.h
!*.hpp
!*.c
!*.cpp
!*.ui
!*.qml
!*.qrc

